body {
 font-family: 'lato', sans-serif;
 margin: 0;
  padding: 0;
}

h2 {
    font-weight: bold;
    color: #00c610;
}

p {
   font-size: 1rem;
   line-height: 1.6;
   color: #161515;
   font-weight: bold;
}
footer {
    padding: 20px;
    color: rgb(12, 14, 12);
    background-color: #d6dbd8;
    text-align: center;
    font-weight: bold;
}


nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

    color: rgb(40, 43, 38);
}

nav a:hover {
    font-weight: bold;
}

.profile header {
  text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.jumbotron {
     font-size: 20px;
     padding: 60px;
     background-color: #c0e4bd;
     text-align: center;
     color: rgb(12, 11, 11);
}

nav ul {
  padding-inline: 4rem;
  display: flex;

  gap: 2rem;
}

nav li {
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #75cf7d;
    padding: 5px;

    position: sticky;
    top: 0;

}

main {
    padding: 20px;
}

header {
    display: inline;
}

@media screen and (max-width: 769px) {
    #content, aside {
    width: 100%;
    padding: 0;
    }
}
html {
  scroll-behavior: smooth;
}
